# SVM Aspect Analysis

## Importing Libraries

In [ ]:
 import json
from tqdm import tqdm
import pandas as pd
import numpy as np
import tensorflow as tf

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.tokenize import word_tokenize  

from collections import Counter
from sklearn.preprocessing import LabelEncoder

from sklearn.metrics import  confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.tokenize import word_tokenize  
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from collections import Counter
from sklearn.preprocessing import LabelEncoder
nltk.download('stopwords')
nltk.download('punkt')
from sklearn.metrics import  confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from nltk.stem import PorterStemmer
from gensim.models import word2vec
from sklearn.preprocessing import OneHotEncoder

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

## Applying the SVM classifier for all the 12 aspects and 2 locations

In [ ]:
classifier_linear = svm.SVC(kernel='linear')
tfidf = TfidfVectorizer()

locations = ['LOCATION1','LOCATION2']
aspects = ['dining', 'general', 'green-nature', 'live', 'multicultural', 'nightlife', 'price', 'quiet', 'safety','shopping', 'touristy', 'transit-location']
test_score=pd.DataFrame({'Location_Aspect':[],'Test_Accuracy':[]})
for location in locations:
    for aspect in aspects:
      print(f"Starting {location} {aspect}...")
      training_set_path = '/content/drive/My Drive/SentiHood/Bert-single/TrainingData/' + str(location) + str(aspect) + '.csv'
      validation_set_path = '/content/drive/My Drive/SentiHood/Bert-single/ValidationData/' + str(location) + str(aspect) + '.csv'
      testing_set_path = '/content/drive/My Drive/SentiHood/Bert-single/TestingData/' + str(location) + str(aspect) + '.csv'

      df_train = pd.read_csv(training_set_path)
      df_valid = pd.read_csv(validation_set_path)
      df_test=pd.read_csv(testing_set_path)
      sentiment_mapping = {
          'Positive': 2,
          'Negative': 1,
          'None': 0
      }
      df_train['sentiment'] = df_train['sentiment'].map(sentiment_mapping)
      df_valid['sentiment'] = df_valid['sentiment'].map(sentiment_mapping)
      df_test['sentiment'] = df_test['sentiment'].map(sentiment_mapping)
      df_train = df_train.reset_index(drop=True)
      df_valid = df_valid.reset_index(drop=True)
      df_test = df_test.reset_index(drop=True)

      df_final=pd.concat([df_train,df_valid])

      Train_tfidf = tfidf.fit_transform(df_final['text'])
      Test_tfidf=tfidf.transform(df_test['text'])

      #SVM model
      classifier_linear.fit(Train_tfidf,df_final['sentiment'])

      # def SVM_sentiment():
      predicted_train = classifier_linear.predict(Train_tfidf)
      print("The accuracy score of train data {0}".format(accuracy_score(predicted_train, df_final['sentiment'])))
      predicted_test= classifier_linear.predict(Test_tfidf)
      print("The accuracy score of test data {0}".format(accuracy_score(predicted_test, df_test['sentiment'])))

      predicted_result=pd.DataFrame({'id':df_test['id'],'predicted_values':predicted_test,'Actual_values':df_test['sentiment']})
      
      
      #predicted_result.to_csv('/content/drive/My Drive/SentiHood/Bert-single/SVM_PredictedResults/' + str(location) + str(aspect) + '.csv', index=False)

Starting LOCATION1 dining...
The accuracy score of train data 0.9967776584317938
The accuracy score of test data 0.9932930918846412
Starting LOCATION1 general...
The accuracy score of train data 0.8850698174006445
The accuracy score of test data 0.784037558685446
Starting LOCATION1 green-nature...
The accuracy score of train data 0.9871106337271751
The accuracy score of test data 0.9805499664654594
Starting LOCATION1 live...
The accuracy score of train data 0.9771750805585392
The accuracy score of test data 0.95439302481556
Starting LOCATION1 multicultural...
The accuracy score of train data 0.9860365198711063
The accuracy score of test data 0.9818913480885312
Starting LOCATION1 nightlife...
The accuracy score of train data 0.9892588614393125
The accuracy score of test data 0.9805499664654594
Starting LOCATION1 price...
The accuracy score of train data 0.9616004296455424
The accuracy score of test data 0.9470154258886653
Starting LOCATION1 quiet...
The accuracy score of train data 0.9938238453276047
The accuracy score of test data 0.98859825620389
Starting LOCATION1 safety...
The accuracy score of train data 0.9715359828141783
The accuracy score of test data 0.959758551307847
Starting LOCATION1 shopping...
The accuracy score of train data 0.9935553168635876
The accuracy score of test data 0.9805499664654594
Starting LOCATION1 touristy...
The accuracy score of train data 0.994092373791622
The accuracy score of test data 0.9859154929577465
Starting LOCATION1 transit-location...
The accuracy score of train data 0.9575725026852846
The accuracy score of test data 0.9181757209926223
Starting LOCATION2 dining...
The accuracy score of train data 0.9917098445595854
The accuracy score of test data 0.9871134020618557
Starting LOCATION2 general...
The accuracy score of train data 0.9098445595854923
The accuracy score of test data 0.7809278350515464
Starting LOCATION2 green-nature...
The accuracy score of train data 0.9875647668393782
The accuracy score of test data 0.9819587628865979
Starting LOCATION2 live...
The accuracy score of train data 0.9626943005181348
The accuracy score of test data 0.9536082474226805
Starting LOCATION2 multicultural...
The accuracy score of train data 0.9854922279792746
The accuracy score of test data 0.9819587628865979
Starting LOCATION2 nightlife...
The accuracy score of train data 0.9875647668393782
The accuracy score of test data 0.9845360824742269
Starting LOCATION2 price...
The accuracy score of train data 0.9585492227979274
The accuracy score of test data 0.884020618556701
Starting LOCATION2 quiet...
The accuracy score of train data 0.9906735751295337
The accuracy score of test data 0.9819587628865979
Starting LOCATION2 safety...
The accuracy score of train data 0.9658031088082901
The accuracy score of test data 0.9329896907216495
Starting LOCATION2 shopping...
The accuracy score of train data 0.9927461139896373
The accuracy score of test data 0.9639175257731959
Starting LOCATION2 touristy...
The accuracy score of train data 0.9968911917098445
The accuracy score of test data 0.9871134020618557
Starting LOCATION2 transit-location...
The accuracy score of train data 0.9512953367875647
The accuracy score of test data 0.9072164948453608

In [ ]:
# Storing predicted values for location 1 in a path
df_true_location1 = pd.DataFrame({'id': [], 'location': [] , 'dining': [], 'general': [], 'green-nature': [], 'live': [], 'multicultural': [], 'nightlife': [], 'price': [], 'quiet': [], 'safety': [],'shopping': [], 'touristy': [], 'transit-location': []})
aspects = ['dining', 'general', 'green-nature', 'live', 'multicultural', 'nightlife', 'price', 'quiet', 'safety','shopping', 'touristy', 'transit-location']

for aspect in aspects:
  testing_set_path =  '/content/drive/My Drive/SentiHood/Bert-single/TestingData/LOCATION1' + str(aspect) + '.csv'

  df_test = pd.read_csv(testing_set_path)
  sentiment_mapping = {
     'Positive': 2,
          'Negative': 1,
          'None': 0
  }
  df_test['sentiment'] = df_test['sentiment'].map(sentiment_mapping)
  df_test = df_test.reset_index(drop=True)

  df_true_location1[aspect] = df_test['sentiment']

df_true_location1['location'] = 'LOCATION1'
df_true_location1['id'] = df_test['id']

In [ ]:
# Storing predicted values for location 2 in a path
df_true_location2 = pd.DataFrame({'id': [], 'location': [] , 'dining': [], 'general': [], 'green-nature': [], 'live': [], 'multicultural': [], 'nightlife': [], 'price': [], 'quiet': [], 'safety': [],'shopping': [], 'touristy': [], 'transit-location': []})
aspects = ['dining', 'general', 'green-nature', 'live', 'multicultural', 'nightlife', 'price', 'quiet', 'safety','shopping', 'touristy', 'transit-location']

for aspect in aspects:
  testing_set_path = '/content/drive/My Drive/SentiHood/Bert-single/TestingData/LOCATION2' + str(aspect) + '.csv'

  df_test = pd.read_csv(testing_set_path)
  sentiment_mapping = {
      'Positive': 2,
          'Negative': 1,
          'None': 0
  }
  df_test['sentiment'] = df_test['sentiment'].map(sentiment_mapping)
  df_test = df_test.reset_index(drop=True)

  df_true_location2[aspect] = df_test['sentiment']

df_true_location2['location'] = 'LOCATION2'
df_true_location2['id'] = df_test['id']

In [ ]:
# concatinating all the predicted values into a csv
df_true = pd.concat([df_true_location1, df_true_location2])
df_true

       id   location  dining  ...  shopping  touristy  transit-location
0     153  LOCATION1       0  ...         0         0                 0
1    1130  LOCATION1       0  ...         0         0                 0
2    1271  LOCATION1       0  ...         0         0                 0
3    1089  LOCATION1       0  ...         0         0                 0
4     731  LOCATION1       0  ...         0         0                 0
..    ...        ...     ...  ...       ...       ...               ...
383  1431  LOCATION2       0  ...         0         0                 0
384  1290  LOCATION2       0  ...         0         0                 0
385   363  LOCATION2       0  ...         0         0                 0
386  1304  LOCATION2       0  ...         0         0                 0
387  1379  LOCATION2       0  ...         0         0                 0

[1879 rows x 14 columns]

In [ ]:

df_predicted_location1 = pd.DataFrame({'id': [], 'location': [] , 'dining': [], 'general': [], 'green-nature': [], 'live': [], 'multicultural': [], 'nightlife': [], 'price': [], 'quiet': [], 'safety': [],'shopping': [], 'touristy': [], 'transit-location': []})
aspects = ['dining', 'general', 'green-nature', 'live', 'multicultural', 'nightlife', 'price', 'quiet', 'safety','shopping', 'touristy', 'transit-location']

for aspect in aspects:
  testing_set_path = '/content/drive/My Drive/SentiHood/Bert-single/SVM_PredictedResults/LOCATION1' + str(aspect) + '.csv'

  df_test = pd.read_csv(testing_set_path)
  df_test = df_test.reset_index(drop=True)

  df_predicted_location1[aspect] = df_test['predicted_values']

df_predicted_location1['location'] = 'LOCATION1'
df_predicted_location1['id'] = df_test['id']

In [ ]:
df_predicted_location2 = pd.DataFrame({'id': [], 'location': [] , 'dining': [], 'general': [], 'green-nature': [], 'live': [], 'multicultural': [], 'nightlife': [], 'price': [], 'quiet': [], 'safety': [],'shopping': [], 'touristy': [], 'transit-location': []})
aspects = ['dining', 'general', 'green-nature', 'live', 'multicultural', 'nightlife', 'price', 'quiet', 'safety','shopping', 'touristy', 'transit-location']

for aspect in aspects:
  testing_set_path = '/content/drive/My Drive/SentiHood/Bert-single/SVM_PredictedResults/LOCATION2' + str(aspect) + '.csv'

  df_test = pd.read_csv(testing_set_path)
  df_test = df_test.reset_index(drop=True)

  df_predicted_location2[aspect] = df_test['predicted_values']

df_predicted_location2['location'] = 'LOCATION2'
df_predicted_location2['id'] = df_test['id']

In [ ]:
df_predicted = pd.concat([df_predicted_location1, df_predicted_location2])
df_predicted

       id   location  dining  ...  shopping  touristy  transit-location
0     153  LOCATION1       0  ...         0         0                 0
1    1130  LOCATION1       0  ...         0         0                 0
2    1271  LOCATION1       0  ...         0         0                 0
3    1089  LOCATION1       0  ...         0         0                 0
4     731  LOCATION1       0  ...         0         0                 0
..    ...        ...     ...  ...       ...       ...               ...
383  1431  LOCATION2       0  ...         0         0                 0
384  1290  LOCATION2       0  ...         0         0                 0
385   363  LOCATION2       0  ...         0         0                 0
386  1304  LOCATION2       0  ...         0         0                 0
387  1379  LOCATION2       0  ...         0         0                 0

[1879 rows x 14 columns]

In [ ]:
# accuracy
def compute_sentiment_accuracy(df_true, df_predicted):
  """This function computes the sentiment classfication accuracy"""

  count = 0
  total = 0

  for aspect in ['dining', 'general', 'green-nature', 'live', 'multicultural', 'nightlife', 'price', 'quiet', 'safety','shopping', 'touristy', 'transit-location']:
    count += np.sum(df_true[aspect].values == df_predicted[aspect].values)
    total += df_true.shape[0]

  accuracy = float(count)/float(total) * 100
  
  return round(accuracy, 2)

In [ ]:
print(f"Sentiment Accuracy: {compute_sentiment_accuracy(df_true, df_predicted)}")

Sentiment Accuracy: 95.24

In [ ]:
from collections import Counter

In [ ]:
Counter(df_predicted['dining'])

Counter({0: 1845, 2: 34})

In [ ]:
Counter(df_true['dining'])

Counter({0: 1842, 1: 2, 2: 35})

In [ ]:
Counter(df_predicted['general'])

Counter({0: 1512, 1: 30, 2: 337})

In [ ]:
Counter(df_true['general'])

Counter({0: 1293, 1: 139, 2: 447})

In [ ]:
1842/1879

In [ ]:
from sklearn.metrics import  confusion_matrix

confusion_matrix(df_true['general'],df_predicted['general'])

array([[1212,    6,   75],
       [  93,   22,   24],
       [ 207,    2,  238]])

In [ ]:
array([[1205,   12,   76],
       [  58,   57,   24],
       [ 153,   11,  283]])